<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Maido')->setSeparator(' - ')->setAutoEscape(false); ?>

        <?php
        // get current view object
        $children = $this->viewModel()->getCurrent()->getChildren();
        $view = $children[0];

        echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendName('author', $view->author ? : 'Maido')
                ->appendName('keywords', $view->keywords ? : '')
                ->appendName('description', $view->description ? : '');
        ?>

        <?php
        $this->headLink(array(
            'rel' => 'favicon',
            'href' => $this->basePath() . '/application/ico/favicon.ico',
            'type' => 'image/x-icon',
        ));
        $this->headLink(array(
            'rel' => 'apple-touch-icon-precomposed',
            'href' => $this->basePath() . '/application/ico/apple-touch-icon-iphone.png',
        ));
        $this->headLink(array(
            'rel' => 'apple-touch-icon-precomposed',
            'href' => $this->basePath() . '/application/ico/apple-touch-icon-ipad.png',
            'sizes' => '72x72',
        ));
        $this->headLink(array(
            'rel' => 'apple-touch-icon-precomposed',
            'href' => $this->basePath() . '/application/ico/apple-touch-icon-iphone4.png',
            'sizes' => '114x114',
        ));
        echo $this->headLink()
                ->appendStylesheet($this->basePath() . '/twitter-bootstrap/css/bootstrap.css')
                ->appendStylesheet($this->basePath() . '/twitter-bootstrap/css/bootstrap-responsive.css')
                ->appendStylesheet($this->basePath() . '/application/css/main.css');
        ?>

        <!--[if lt IE 9]>
        <script src="<?php echo $this->basePath(); ?>/application/js/html5shiv.js"></script>
        <![endif]-->

        <?php
        echo $this->headScript();
        ?>

    </head>
    <body>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <?php echo $this->content; ?>
                </div>
            </div>
        </div>

        <?php
        echo $this->inlineScript()
                ->appendFile($this->basePath() . '/application/js/jquery-1.10.0.min.js');
        ?>

    </body>
</html>